{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/scripted/weaponupgrade/header.png",
      "fileBody": "/interface/scripted/weaponupgrade/body.png",
      "fileFooter": "/interface/scripted/weaponupgrade/footer.png"
    },
    "windowtitle": {
      "type": "title",
      "title": " Camera",
      "subtitle": " Take Photos",
      "icon": {
        "type": "image",
        "file": "/interface/scripted/weaponupgrade/weaponupgradeicon.png"
      }
    },
    "tip01Label": {
      "type": "label",
      "position": [50, 200],
      "hAnchor" : "mid",
      "wrapWidth" : 160,
      "value" : "choose a xxx"
    },
    "tip02Label": {
      "type": "label",
      "position": [50, 180],
      "hAnchor" : "mid",
      "wrapWidth" : 160,
      "value" : "choose a xxx"
    },
    "photoTypeSelector": {
      "type": "radioGroup",
      "position": [5, 159],
      "buttons": [
        {
          "id": 1,
          "baseImage": "/interface/inventory/bigbag.png:base",
          "baseImageChecked": "/interface/inventory/bigbag.png:baseChecked",
          "pressedImage": "/interface/inventory/bigbag.png:pressed",
          "pressedImageChecked": "/interface/inventory/bigbag.png:pressedChecked",
          "position": [4, 2],
          "data": "showMainGrid",
          "selected": true,
          "pressedOffset": [0, 0]
        },
        {
          "baseImage": "/interface/inventory/bigcart.png:base",
          "baseImageChecked": "/interface/inventory/bigcart.png:baseChecked",
          "pressedImage": "/interface/inventory/bigcart.png:pressed",
          "pressedImageChecked": "/interface/inventory/bigcart.png:pressedChecked",
          "position": [70, 2],
          "data": "showTileGrid",
          "pressedOffset": [0, 0]
        }
      ]
    },
    "backgroundTypeSelector": {
      "type": "radioGroup",
      "position": [5, 109],
      "buttons": [
        {
          "id": 1,
          "baseImage": "/interface/inventory/bigbag.png:base",
          "baseImageChecked": "/interface/inventory/bigbag.png:baseChecked",
          "pressedImage": "/interface/inventory/bigbag.png:pressed",
          "pressedImageChecked": "/interface/inventory/bigbag.png:pressedChecked",
          "position": [4, 2],
          "data": "showMainGrid",
          "selected": true,
          "pressedOffset": [0, 0]
        },
        {
          "baseImage": "/interface/inventory/bigcart.png:base",
          "baseImageChecked": "/interface/inventory/bigcart.png:baseChecked",
          "pressedImage": "/interface/inventory/bigcart.png:pressed",
          "pressedImageChecked": "/interface/inventory/bigcart.png:pressedChecked",
          "position": [50, 2],
          "data": "showTileGrid",
          "pressedOffset": [0, 0]
        },
        {
          "baseImage": "/interface/inventory/bigcart.png:base",
          "baseImageChecked": "/interface/inventory/bigcart.png:baseChecked",
          "pressedImage": "/interface/inventory/bigcart.png:pressed",
          "pressedImageChecked": "/interface/inventory/bigcart.png:pressedChecked",
          "position": [90, 2],
          "data": "showTileGrid",
          "pressedOffset": [0, 0]
        }
      ]
    },
    "priview" : {
      "type" : "image",
      "file" : "/interface/scripted/terraformer/typechangeicon.png",
      "position" : [124, 115]
    },
    "takePhoto": {
      "type": "button",
      "position": [92, 30],
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "disabledImage": "/interface/buttongrayed.png",
      "caption": "Take Photo",
      "callback": "takePhoto"
    },
    "close": {
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "pressedOffset": [0, 0],
      "position": [161, 242]
    }
  },
  "scriptWidgetCallbacks": ["photoTypeSelector", "backgroundTypeSelector", "takePhoto"],
  "scripts": ["/objects/fakecamera/fakecameragui.lua"],
  "scriptDelta": 30
}
