{
  "object": {
    "outputSlot": 0,
    "offset": {
      "half": [2.05, 2.48],
      "full": [2, 3]
    },
    "avatarPattern": ["head.png", "emote.png", "hair"]
  },
  "gui": {
    "backgroundImages": [
      ["/objects/photoframe/bust01.png", "/objects/photoframe/bust01.png", "/objects/photoframe/bust01.png"],
      [
        "/objects/photoframe/full-length01.png",
        "/objects/photoframe/full-length01.png",
        "/objects/photoframe/full-length01.png"
      ]
    ],
    "buttonImages": [
      [
        {
          "base": "/interface/crafting/fakecamera/checkbox01.png",
          "hover": "/interface/crafting/fakecamera/checkbox01.png",
          "pressed": "/interface/crafting/fakecamera/checkbox01checked.png"
        },
        {
          "base": "/interface/crafting/fakecamera/checkbox02.png",
          "hover": "/interface/crafting/fakecamera/checkbox02.png",
          "pressed": "/interface/crafting/fakecamera/checkbox02checked.png"
        },
        {
          "base": "/interface/crafting/fakecamera/checkbox03.png",
          "hover": "/interface/crafting/fakecamera/checkbox03.png",
          "pressed": "/interface/crafting/fakecamera/checkbox03checked.png"
        }
      ],
      [
        {
          "base": "/interface/crafting/fakecamera/checkbox01.png",
          "baseImageChecked": "/interface/crafting/fakecamera/checkbox01checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox01checked.png"
        },
        {
          "base": "/interface/crafting/fakecamera/checkbox02.png",
          "baseImageChecked": "/interface/crafting/fakecamera/checkbox02checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox02checked.png"
        },
        {
          "base": "/interface/crafting/fakecamera/checkbox03.png",
          "baseImageChecked": "/interface/crafting/fakecamera/checkbox03checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox03checked.png"
        }
      ]
    ],
    "buttonCheckedImages": [
      [
        {
          "base": "/interface/crafting/fakecamera/checkbox01checked.png",
          "hover": "/interface/crafting/fakecamera/checkbox01checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox01checked.png"
        },
        {
          "base": "/interface/crafting/fakecamera/checkbox02checked.png",
          "hover": "/interface/crafting/fakecamera/checkbox02checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox02checked.png"
        },
        {
          "base": "/interface/crafting/fakecamera/checkbox03checked.png",
          "hover": "/interface/crafting/fakecamera/checkbox03checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox03checked.png"
        }
      ],
      [
        {
          "base": "/interface/crafting/fakecamera/checkbox01checked.png",
          "hover": "/interface/crafting/fakecamera/checkbox01checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox01checked.png"
        },
        {
          "base": "/interface/crafting/fakecamera/checkbox02checked.png",
          "hover": "/interface/crafting/fakecamera/checkbox02checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox02checked.png"
        },
        {
          "base": "/interface/crafting/fakecamera/checkbox03checked.png",
          "hover": "/interface/crafting/fakecamera/checkbox03checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox03checked.png"
        }
      ]
    ],
    "checkboxes": {
      "background01Button": 1,
      "background02Button": 2,
      "background03Button": 3
    },
    "photoTypes": ["half", "full"],
    "photoFrames": [
      ["photoframe-bust01", "photoframe-bust02", "photoframe-bust03"],
      ["photoframe-full-length-01", "photoframe-full-length-02", "photoframe-full-length-03"]
    ]
  }
}
