{
  "object": {
    "outputSlot": 0,
    "photoItem": "photoframe",
    "offset": {
      "half": [2.05, 2.48],
      "full": [0, 0]
    },
    "avatarPattern": ["head.png", "emote.png", "hair"]
  },
  "gui": {
    "backgroundImages": [
      [
        "/interface/scripted/terraformer/bar_cursor_base.png",
        "/interface/scripted/terraformer/bar_cursor_hover.png",
        "/interface/scripted/terraformer/bar_cursor_disabled.png"
      ],
      [
        "/interface/scripted/terraformer/bar_cursor_base.png",
        "/interface/scripted/terraformer/bar_cursor_hover.png",
        "/interface/scripted/terraformer/bar_cursor_disabled.png"
      ]
    ],
    "buttonImages": [
      [
        "/interface/scripted/terraformer/bar_cursor_base.png",
        "/interface/scripted/terraformer/bar_cursor_hover.png",
        "/interface/scripted/terraformer/bar_cursor_disabled.png"
      ],
      [
        "/interface/scripted/terraformer/bar_cursor_disabled.png",
        "/interface/scripted/terraformer/bar_cursor_base.png",
        "/interface/scripted/terraformer/bar_cursor_hover.png"
      ]
    ],
    "buttonCheckedImages": [
      [
        "/interface/scripted/terraformer/bar_cursor_base.png",
        "/interface/scripted/terraformer/bar_cursor_hover.png",
        "/interface/scripted/terraformer/bar_cursor_disabled.png"
      ],
      [
        "/interface/scripted/terraformer/bar_cursor_disabled.png",
        "/interface/scripted/terraformer/bar_cursor_base.png",
        "/interface/scripted/terraformer/bar_cursor_hover.png"
      ]
    ],
    "checkboxes": {
      "background01Button": 1,
      "background02Button": 2,
      "background03Button": 3
    },
    "photoTypes": ["half", "full"]
  }
}
