{
  "object": {
    "outputSlot": 0,
    "offset": {
      "half": [2.05, 2.48],
      "full": [2, 3]
    },
    "avatarPattern": ["head.png", "emote.png", "hair"]
  },
  "gui": {
    "backgroundImages": [
      [
        "/interface/crafting/fakecamera/full-length-background-01.png",
        "/interface/crafting/fakecamera/full-length-background-02.png",
        "/interface/crafting/fakecamera/full-length-background-03.png"
      ],
      [
        "/interface/crafting/fakecamera/bust-background-01.png",
        "/interface/crafting/fakecamera/bust-background-02.png",
        "/interface/crafting/fakecamera/bust-background-03.png"
      ]
    ],
    "buttonImages": [
      [
        {
          "base": "/interface/crafting/fakecamera/checkbox01.png",
          "baseImageChecked": "/interface/crafting/fakecamera/checkbox01checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox01checked.png"
        },
        {
          "base": "/interface/crafting/fakecamera/checkbox02.png",
          "baseImageChecked": "/interface/crafting/fakecamera/checkbox02checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox02checked.png"
        },
        {
          "base": "/interface/crafting/fakecamera/checkbox03.png",
          "baseImageChecked": "/interface/crafting/fakecamera/checkbox03checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox03checked.png"
        }
      ],
      [
        {
          "base": "/interface/crafting/fakecamera/checkbox01.png",
          "hover": "/interface/crafting/fakecamera/checkbox01.png",
          "pressed": "/interface/crafting/fakecamera/checkbox01checked.png"
        },
        {
          "base": "/interface/crafting/fakecamera/checkbox02.png",
          "hover": "/interface/crafting/fakecamera/checkbox02.png",
          "pressed": "/interface/crafting/fakecamera/checkbox02checked.png"
        },
        {
          "base": "/interface/crafting/fakecamera/checkbox03.png",
          "hover": "/interface/crafting/fakecamera/checkbox03.png",
          "pressed": "/interface/crafting/fakecamera/checkbox03checked.png"
        }
      ]
    ],
    "buttonCheckedImages": [
      [
        {
          "base": "/interface/crafting/fakecamera/checkbox01checked.png",
          "hover": "/interface/crafting/fakecamera/checkbox01checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox01checked.png"
        },
        {
          "base": "/interface/crafting/fakecamera/checkbox02checked.png",
          "hover": "/interface/crafting/fakecamera/checkbox02checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox02checked.png"
        },
        {
          "base": "/interface/crafting/fakecamera/checkbox03checked.png",
          "hover": "/interface/crafting/fakecamera/checkbox03checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox03checked.png"
        }
      ],
      [
        {
          "base": "/interface/crafting/fakecamera/checkbox01checked.png",
          "hover": "/interface/crafting/fakecamera/checkbox01checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox01checked.png"
        },
        {
          "base": "/interface/crafting/fakecamera/checkbox02checked.png",
          "hover": "/interface/crafting/fakecamera/checkbox02checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox02checked.png"
        },
        {
          "base": "/interface/crafting/fakecamera/checkbox03checked.png",
          "hover": "/interface/crafting/fakecamera/checkbox03checked.png",
          "pressed": "/interface/crafting/fakecamera/checkbox03checked.png"
        }
      ]
    ],
    "checkboxes": {
      "background01Button": 1,
      "background02Button": 2,
      "background03Button": 3
    },
    "photoTypes": ["full", "half"],
    "photoFrames": [
      ["photoframe-full-length-01", "photoframe-full-length-02", "photoframe-full-length-03"],
      ["photoframe-bust01", "photoframe-bust02", "photoframe-bust03"]
    ],
    "imageScaler": [3.416, 4],
    "backgroundPosition": [
      [187, 75],
      [182, 77]
    ]
  }
}
