{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/scripted/weaponupgrade/header.png",
      "fileBody": "/interface/crafting/fakecamerabody.png",
      "fileFooter": "/interface/scripted/weaponupgrade/footer.png"
    },
    "itemGrid": {
      "type": "itemgrid",
      "position": [240, 30],
      "dimensions": [1, 1],
      "spacing": [19, 19],
      "backingImage": "/interface/inventory/itemborderrare.png"
    },
    "tip01Label": {
      "type": "label",
      "position": [30, 233],
      "hAnchor": "mid",
      "wrapWidth": 160,
      "value": "choose a xxx"
    },
    "tip02Label": {
      "type": "label",
      "position": [30, 192],
      "hAnchor": "mid",
      "wrapWidth": 160,
      "value": "choose a xxx"
    },
    "photoTypeSelector": {
      "type": "radioGroup",
      "position": [35, 210],
      "buttons": [
        {
          "id": 1,
          "baseImage": "/interface/inventory/portrait.png",
          "baseImageChecked": "/interface/inventory/portrait.png",
          "pressedImage": "/interface/inventory/portrait.png",
          "pressedImageChecked": "/interface/inventory/portrait.png",
          "position": [0, 2],
          "data": "showMainGrid",
          "selected": true,
          "pressedOffset": [0, 0]
        },
        {
          "baseImage": "/interface/inventory/portrait.png",
          "baseImageChecked": "/interface/inventory/portrait.png",
          "pressedImage": "/interface/inventory/portrait.png",
          "pressedImageChecked": "/interface/inventory/portrait.png",
          "position": [50, 2],
          "data": "showTileGrid",
          "pressedOffset": [0, 0]
        }
      ]
    },
    "background01Button": {
      "type": "button",
      "checkable": true,
      "checked": true,
      "position": [5, 60],
      "base": "/interface/inventory/bigbag.png:base",
      "baseImageChecked": "/interface/inventory/bigbag.png:baseChecked",
      "pressed": "/interface/inventory/bigbag.png:pressed",
      "callback": "selectBackground01"
    },
    "background02Button": {
      "type": "button",
      "checkable": true,
      "position": [5, 80],
      "base": "/interface/inventory/bigcart.png:base",
      "baseImageChecked": "/interface/inventory/bigcart.png:baseChecked",
      "pressed": "/interface/inventory/bigcart.png:pressed",
      "callback": "selectBackground02"
    },
    "background03Button": {
      "type": "button",
      "checkable": true,
      "position": [5, 100],
      "base": "/interface/inventory/bigcart.png:base",
      "baseImageChecked": "/interface/inventory/bigcart.png:baseChecked",
      "pressed": "/interface/inventory/bigcart.png:pressed",
      "callback": "selectBackground03"
    },
    "priview": {
      "type": "image",
      "file": "/interface/scripted/terraformer/typechangeicon.png",
      "position": [250, 115]
    },
    "takePhoto": {
      "type": "button",
      "position": [92, 30],
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "disabledImage": "/interface/buttongrayed.png",
      "caption": "Take Photo",
      "callback": "takePhoto"
    },
    "close": {
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "pressedOffset": [0, 0],
      "position": [161, 242]
    }
  },
  "scriptWidgetCallbacks": ["photoTypeSelector", "takePhoto", "selectBackground01", "selectBackground02", "selectBackground03"],
  "scripts": ["/objects/fakecamera/fakecameragui.lua"],
  "scriptDelta": 30
}
