{
  "gui": {
    "background": {
      "zlevel": 0,
      "type": "background",
      "fileHeader": "/interface/crafting/craftingheader.png",
      "fileBody": "/interface/crafting/fakecamerabody.png",
      "fileFooter": "/interface/crafting/craftingfooter.png"
    },
    "itemGrid": {
      "type": "itemgrid",
      "position": [241, 39],
      "dimensions": [1, 1],
      "spacing": [19, 19],
      "backingImage": "/interface/crafting/photoborder.png"
    },
    "tip01Label": {
      "type": "label",
      "position": [74, 245],
      "hAnchor" : "mid",
      "wrapWidth" : 160,
      "value" : "full length or bust"
    },
    "tip02Label": {
      "type": "label",
      "position": [74, 203],
      "hAnchor" : "mid",
      "wrapWidth" : 160,
      "value" : "choose a background"
    },
    "photoTypeSelector": {
      "type": "radioGroup",
      "position": [35, 210],
      "buttons": [
        {
          "id": 1,
          "baseImage": "/interface/crafting/fcbutton.png",
          "baseImageChecked":"/interface/crafting/fcbuttonselected.png",
          "pressedImage": "/interface/crafting/fcbuttonselected.png",
          "pressedImageChecked": "/interface/crafting/fcbuttonselected.png",
          "position": [6, 7],
          "data": "showMainGrid",
          "selected": true,
          "pressedOffset": [0, 0]
        },
        {
          "baseImage": "/interface/crafting/fcbutton2.png",
          "baseImageChecked": "/interface/crafting/fcbutton2selected.png",
          "pressedImage": "/interface/crafting/fcbutton2selected.png",
          "pressedImageChecked": "/interface/crafting/fcbutton2selected.png",
          "position": [40, 7],
          "data": "showTileGrid",
          "pressedOffset": [0, 0]
        }
      ]
    },
    "background01Button": {
      "type": "button",
      "checkable": true,
      "position": [18, 156],
      "base": "/interface/crafting/fakecamera/checkbox03.png",
      "baseImageChecked": "/interface/crafting/fakecamera/checkbox03checked.png",
      "pressed": "/interface/crafting/fakecamera/checkbox03checked.png",
      "callback": "selectBackground01"
    },
    "background02Button": {
      "type": "button",
      "checkable": true,
      "position": [18, 117],
      "base": "/interface/crafting/fakecamera/checkbox02.png",
      "baseImageChecked": "/interface/crafting/fakecamera/checkbox02checked.png",
      "pressed": "/interface/crafting/fakecamera/checkbox02checked.png",
      "callback": "selectBackground02"
    },
    "background03Button": {
      "type": "button",
      "checkable": true,
      "checked": true,
      "position": [18, 78],
      "base": "/interface/crafting/fakecamera/checkbox01.png",
      "baseImageChecked": "/interface/crafting/fakecamera/checkbox01checked.png",
      "pressed": "/interface/crafting/fakecamera/checkbox01checked.png",
      "callback": "selectBackground03"
    },
    "preview": {
      "type": "image",
      "file": "/interface/scripted/terraformer/typechangeicon.png",
      "position": [250, 115]
    },
    "takePhoto": {
      "type": "button",
      "position": [71, 44],
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "disabledImage": "/interface/buttongrayed.png",
      "caption": "Take Photo",
      "callback": "takePhoto"
    },
    "close": {
      "type": "button",
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "pressedOffset": [0, 0],
      "position": [321, 261]
    }
  },
  "scriptWidgetCallbacks": ["photoTypeSelector", "takePhoto", "selectBackground01", "selectBackground02", "selectBackground03"],
  "scripts": ["/objects/fakecamera/fakecameragui.lua"],
  "scriptDelta": 30
}
